.pagination {
  width: 40vw;
  transform: translateX(80%);
  @include flex(row, center, center);
  background-color: $color-primary-light;
  border-radius: 1rem;
  @include respond(medium) {
    width: 60vw;
    transform: translateX(30%);
  }
  @include respond(small) {
    width: 95vw;
    transform: translateX(0%);
    margin: 0 auto;
  }
  .page-item {
    height: 100%;
    font-size: 1.4rem;
    list-style: none;
    border-radius: 0.8rem;
    cursor: pointer;
    user-select: none;
    @include respond(small) {
      padding: 1rem 0.6rem;
      font-size: 1.3rem;
    }

    &:first-child,
    &:last-child {
      flex-grow: 1;
      text-align: center;
    }

    &:hover {
      background-color: $color-purple-light;
    }
    .page-link {
      display: block;
      width: inherit;
      height: inherit;

      padding: 1.5rem 1.2rem;
      color: $color-black;
      font-size: 1.6rem;
    }
  }
  .active {
    background-color: $color-secondary-light;
  }
}
