.container {
    max-width: 115rem;
    height: inherit;
    margin: 0 auto;

    @include respond(large) {
        max-width: 95rem;
        margin: 0 auto;
    }
    @include respond(medium) {
        max-width: 85rem;
        margin: 0 auto;
    }

    @include respond(small) {
        max-width: 65rem;
        margin: 0 auto;
    }

    @include respond(X-small) {
        max-width: 60rem;
        margin: 0 auto;
    }
}
