.movie-card {
    width: 25rem;
    height: 40rem;
    background-color: #2e2e3e;
    border-radius: 5px;

    padding: 1rem;

    .card-image {
        width: 98%;
        height: 80%;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .card-desc {
        color: #8d798f;

        .title {
            font-size: 1.8rem;

            font-weight: 700;
            margin-bottom: 1rem;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .details {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 1.5rem;
            }
        }
    }
}

@include respond(medium) {
    .movie-card {
        width: 30rem;
        height: 37rem;

        .card-desc {
            .title {
                font-size: 1.6rem;
                margin-bottom: 0.8rem;

                -webkit-line-clamp: 1;
            }

            .details {
                span {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
@include respond(X-small) {
    .movie-card {
        width: 50rem;
        height: 50rem;
        .card-image {
            width: 99%;
        }

        .card-desc {
            .title {
                font-size: 2.8rem;
                margin-bottom: 2rem;
            }
            .details {
                span {
                    font-size: 2rem;
                }
            }
        }
    }
}
