.navbar-container {
  width: auto;
  grid-row: 1/2;
  grid-column: 1 / -1;
}
.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 1.8rem 0;
  @include flex(row);
  min-height: 5rem;
  .list-container {
    flex-grow: 1;
    @include flex(row, space-between, center);
  }

  &__item {
    position: relative;
  }
  &__item:hover > .dropdown {
    visibility: visible;
    opacity: 1;
  }
  &__list {
    @include flex(row, center, center);
  }

  &__link,
  &__combo-button a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
    &:hover {
      color: rgba($color-secondary-light, 0.8);
    }
  }
  &__link {
    .title {
      padding-right: 3px;
    }
  }
  .active {
    color: rgba($color-secondary-light, 0.8);
  }
  .sign-up {
    background-color: $color-secondary;
    border-radius: 8px;
    &:hover {
      color: rgba($color-secondary-light, 0.5);
    }
  }
  &__user {
    @include flex(row, center, center);
  }
  &__logo {
    padding-right: 1.5rem;
  }
  &__button {
    margin-left: auto;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    display: none;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-primary-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: 1rem;
    }
    &::after {
      top: -1rem;
    }
  }
  &__icon.active {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
@include respond(small) {
  .navbar {
    .list-container {
      width: 0;
      height: 0;
      visibility: hidden;
      position: fixed;
      transition: all 0.2s ease-in-out;
      top: 0;
      right: 0;
      z-index: 1500;
      @include flex(column, flex-start, center);
      background-color: $color-primary;
      padding-top: 6rem;
      &.active {
        width: 100vw;
        height: 100vh;
        visibility: visible;
      }
    }
    &__item:hover > .dropdown {
      visibility: hidden;
      opacity: 0;
    }
    &__button {
      display: block;
      z-index: 1600;
      &.active {
        position: fixed;
        top: 2.7rem;
        right: 6rem;
      }
    }
    &__list {
      @include flex(column, center, center);
      list-style-type: none;
    }
    &__link {
      font-size: 3rem;
      line-height: 2;
      padding: 1rem 2.5rem;
    }
  }
}
