.nav-container-fluid {
    width: 100%;
    height: 6rem;
    background-color: $dark-blue-color;

    @include respond(X-small) {
        height: 10rem;
    }
}
.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: inline-block;
        color: $pink-color;
        text-decoration: none;
        font-size: 2.8rem;
    }
    .search-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 0 0 40%;

        input {
            width: 100%;
            border-radius: 2rem;
            outline: none;
            background-color: transparent;
            border: 1px solid $pink-color;

            color: $pink-color;
            padding: 0.8rem 1.5rem;

            &::placeholder {
                color: $pink-color;
                font-size: 1.6rem;
                opacity: 0.6;
            }
        }
        .search-btn {
            background-color: transparent;
            border: none;
            outline: none;
            margin-left: -3.2rem;

            i {
                font-size: 1.8rem;
                cursor: pointer;
            }
        }
    }

    .bars-menu {
        display: none;
        i {
            font-size: 2.4rem;
            cursor: pointer;
            &:hover {
                color: $purple-color;
            }
        }
    }
    @include respond(small) {
        .bars-menu {
            display: flex;
        }
        .nav-link {
            display: none;
        }
    }
    @include respond(X-small) {
        flex-wrap: wrap;

        .bar-menu {
            display: flex;
            margin: 0;
        }
        .search-box {
            order: 1;
            flex-basis: 100%;
        }
    }
}

.sidebar {
    position: fixed;

    height: 100%;

    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    transition: 0.25s ease-in-out;

    background-color: #836ade;
    .close-btn {
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
        i {
            font-size: 2.6rem;
            color: whitesmoke;
        }
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.6rem;

        li {
            padding: 2rem;
            color: $dark-blue-color;
        }
    }
}
