.nav-container {
    grid-column: 1 / 2;

    background-color: $color-primary-dark;
    border-radius: 1rem;
    padding: 1.8rem 0;
    margin-top: 2rem;
    position: sticky;
    top: 0;
    left: 1.5rem;
    z-index: 100;

    min-height: 35rem;

    @include respond(medium) {
        grid-row: 1 / 2;
        position: unset;
        min-height: 7rem;
        padding: 0.5rem 1.5rem;
    }
}
.nav-bar {
    height: 100%;
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    @include respond(medium) {
        @include flex-row;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.8rem;
        color: $color-primary-light;
        @include flex-column;

        svg:first-child {
            font-size: 2.5rem;
            transform: translateY(3px);
        }
        @include respond(medium) {
            font-size: 2.5rem;
            svg:first-child {
                font-size: 3rem;
            }
        }
    }
    .account {
        display: inline-block;
        padding: 1rem;
        border-radius: 47%;
        background-color: $color-white;
        color: $color-black;
        font-size: 2rem;
        .title {
            @include navbar-tooltip;
            @include navbar-tooltip-hidden;
        }
        &:hover .title {
            @include navbar-tooltip-visible;
        }
    }
    .user {
        position: relative;
        .avatar {
            width: 5.5rem;
            border: 1px solid $color-purple-light;
            border-radius: 50%;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }
            @include respond(medium) {
                width: 6rem;
            }
        }
        .user-info {
            @include navbar-tooltip;
            @include navbar-tooltip-hidden;
            transform: translate(50%, 1.2rem);
            left: -4.5rem;
            top: 1rem;
            &__list {
                list-style: none;
            }
            &__item {
                padding: 0.5rem 0.8rem;
            }
            &__link {
                text-decoration: none;
                color: rgba($color-secondary-light, 0.8);
            }
        }
        &:hover .user-info {
            @include navbar-tooltip-visible;
            transform: translate(11rem, 1.2rem);
        }
    }

    .nav-list {
        @include flex-column;
        @include respond(medium) {
            @include flex-row;
            justify-self: center;
        }
        li {
            list-style: none;
            padding: 1rem;
            .nav-link {
                @include flex-center;
                color: $color-black;
                text-decoration: none;
                cursor: pointer;
                @include respond(medium) {
                    @include flex-row;
                }

                .icon {
                    position: relative;
                    display: block;
                    font-size: 1.6rem;
                    padding: 1rem;
                    @include respond(medium) {
                        font-size: 2.2rem;
                    }
                }
                .title {
                    @include navbar-tooltip;
                    @include navbar-tooltip-hidden;

                    @include respond(medium) {
                        position: unset;
                        color: $color-purple-light;
                        background-color: transparent;
                        @include navbar-tooltip-visible;
                    }
                }
                &:hover .title {
                    @include navbar-tooltip-visible;
                }
            }
            .active {
                color: rgba($color-secondary-light, 0.8);
                background-color: $color-purple-light;
                border-radius: 50%;
                @include respond(medium) {
                    border-radius: 1rem;
                    .title {
                        color: $color-secondary-light;
                    }
                }
            }
        }
    }
}
