.banner {
  min-height: 30rem;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(
      to top,
      $color-black,
      rgba($color-black, 0)
    );
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;

    @include respond(small) {
      display: none;
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include respond(small) {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 6rem;
      line-height: 1.5;
      color: $color-primary-light;
    }
    .overview {
      font-size: 1.3rem;
      color: $color-white;
      font-weight: 500;
    }
    h2 {
      font-size: 2.5rem;
      color: $color-primary-light;
      padding: 2rem 0;
    }

    .genres {
      & > * ~ * {
        margin-left: 0.5rem;
      }

      &__item {
        padding: 1rem 2.5rem;
        border: 2px solid $color-secondary-dark;
        border-radius: 25px;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: $color-white;
      }
    }
  }
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  gap: 10px;

  &__item {
    &__img {
      padding-top: 16rem;
      background-size: cover;
      margin-bottom: 0.5rem;
    }

    &__name {
      font-size: 1.2rem;
      color: $color-white;
    }
  }
}

.video {
  margin-bottom: 3rem;

  &__title {
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    color: $color-primary-light;
  }
  &__content {
    border: none;
  }
}
