@mixin respond($breakpoint) {
  @if $breakpoint == "X-small" {
    // less than 576px
    @media (max-width: 36em) {
      @content;
    }
  }
  @if $breakpoint == "small" {
    // 576px - 768px
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == "medium" {
    // 768px - 992px
    @media (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == "large" {
    // 992px - 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == "extra-large" {
    // 1200px and up
    @media (min-width: 75em) {
      @content;
    }
  }
}

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: normal,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
@mixin hidden-item {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@mixin section-title {
  color: $color-primary-light;
  font-size: 2.8rem;
  padding-bottom: 1.5rem;
}
@mixin visible-item {
  opacity: 1;
  visibility: visible;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
