$color-primary: #0f2133;
$color-primary-dark: #353e73;
$color-primary-light: #8698fc;

$color-secondary: #dd003f;
$color-secondary-dark: #8f4e94;
$color-secondary-light: #f899ff;

$color-black: #1b1c22;
$color-white: #eee;

$color-purple-light: #8d798f;
