@mixin respond($breakpoint) {
    @if $breakpoint == "X-small" {
        @media (max-width: 36em) {
            @content;
        }
    }
    @if $breakpoint == "small" {
        @media (max-width: 48em) {
            @content;
        }
    }
    @if $breakpoint == "medium" {
        @media (max-width: 62em) {
            @content;
        }
    }
    @if $breakpoint == "large" {
        @media (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == "extra-large" {
        @media (min-width: 87.5em) {
            @content;
        }
    }
}

@mixin grid-columns($num) {
    display: grid;
    grid-gap: 4rem 1rem;
    grid-template-columns: repeat($num, 1fr);
}
