* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include respond(medium) {
    font-size: 50%;
  }
  @include respond(X-small) {
    font-size: 37.5%;
  }
}
body {
  background-color: $color-black;
  font-family: "Nutito", sans-serif;
}
a {
  text-decoration: none;
}
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  width: 20%;
  @include respond(large) {
    width: 33%;
  }
  @include respond(medium) {
    width: 50%;
  }
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section {
  padding: 0 2rem;
}

.section__header {
  @include flex(row, space-between, center);
  h2 {
    color: $color-primary-light;
    font-size: 2.8rem;
  }
}
